/*
	Monochrome Theme Stylesheet
	v 1.0
	@author jordan.grozdanov
*/


/* ----------------------- GENERAL -----------------------*/

body {
	width: 100%;
	background: url(../img/background.png) repeat;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	color: #a9a9a9;
}

h1, h2, h3 {
	font-family: 'Passion One', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1 {
	color: white;
	font-size: 70px;
	font-weight: normal;
}

h2 {
	font-size: 46px;
	text-align: center;
}

h3 {
	font-size: 35px;
	font-weight: normal;
}

/* ---------------------- UTILITY CLASSES --------------------- */

.rotate0 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform:rotate(0deg);
}

.rotate30 {
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform:rotate(30deg);
}

.rotate60 {
	-moz-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-ms-transform:rotate(60deg);
}

.rotate90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform:rotate(90deg);
}

.rotate120 {
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform:rotate(120deg);
}

.rotate150 {
	-moz-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	-o-transform: rotate(150deg);
	-ms-transform:rotate(150deg);
}

.rotate180 {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform:rotate(180deg);
}

.rotate210 {
	-moz-transform: rotate(210deg);
	-webkit-transform: rotate(210deg);
	-o-transform: rotate(210deg);
	-ms-transform:rotate(210deg);
}

.rotate240 {
	-moz-transform: rotate(240deg);
	-webkit-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	-ms-transform:rotate(240deg);
}

.rotate270 {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform:rotate(270deg);
}

.rotate300 {
	-moz-transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform:rotate(300deg);
}

.rotate330 {
	-moz-transform: rotate(330deg);
	-webkit-transform: rotate(330deg);
	-o-transform: rotate(330deg);
	-ms-transform:rotate(330deg);
}

.rotate360 {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform:rotate(360deg);
}

.seconds-transition {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.minutes-transition {
	-webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
}

.hours-transition {
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.days-transition {
	-webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
}

.clear-transform {
	-webkit-transition: all 1ms ease-in-out;
    -moz-transition: all 1ms ease-in-out;
    -o-transition: all 1ms ease-in-out;
    -ms-transition: all 1ms ease-in-out;
}

/* ---------------------- STYLING ---------------------------- */

#top-bar {
	width: 100%;
	height: 20px;
	background-color: #33363b;
	border-bottom: 3px solid #e5bb31;
}

#trigger {
	width: 34px;
	height: 34px;
	display: block;
	text-indent: -9999px;
	background: url(../img/trigger.png) no-repeat;
	margin: -20px auto 0 auto; /* set a negative top-margin here because we want the link to overlap the top-bar */
}

#container {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	display: block;
	text-indent: -9999px;
	width: 204px;
	height: 113px;
	background: url(../img/logo.png) no-repeat;
	margin: 15px 0 -4px 402px;
}

span.separator {
	width: 920px;
	margin: 0 auto 20px auto;
	display: block;
	text-indent: -9999px;
	min-height: 11px;
	background: url(../img/line-shadow.png) repeat-x;
}

p.info {
	display: block;
	max-width: 800px;
	margin-left: 95px;
	text-align: center;
	line-height: 14pt;
	color: white;
}

#timer {
	width: 862px;
	margin: 35px auto 0 auto;
	overflow: hidden;
}

.timer-unit {
	width: 178px;
	height: 238px;
	margin-left: 50px;
	margin-bottom: 50px;
	float: left;
	position: relative;
	background: url(../img/timer-unit-background.png) no-repeat;
}

.timer-unit.first {
	margin-left: 0;
}

.circle {
	width: 167px;
	height: 167px;
	background: url(../img/circle.png) no-repeat;
	position: absolute;
	top: 35px;
	left: 5px;
	z-index: 10;
}

.inner-circle {
	width: 162px;
	height: 162px;
	background: url(../img/inner-circle.png) no-repeat;
	position: absolute;
	top: 38px;
	left: 8px;
	z-index: 5;
}

.ticker {
	width: 145px;
	height: 145px;
	position: absolute;
	overflow: hidden;
	top: 46px;
	left: 16px;
	z-index: 3;
}

#days {
	background: url(../img/ticker.png) no-repeat;
}

#hours {
	background: url(../img/ticker-hours.png) no-repeat;
}

#minutes {
	background: url(../img/ticker-minutes.png) no-repeat;
	
}

#seconds {
	background: url(../img/ticker-seconds.png) no-repeat;
}

.timer-unit h1 {
	margin-top: 40px;
	text-align: center;
}

.timer-unit h3 {
	margin-top: 137px;
	text-align: center;
	font-size: 22px;
}

form {
	width: 450px;
	margin: 0 auto 40px auto;
	display: block;
	overflow: hidden;
	color: white;
}

input[type="email"] {
	width: 307px;
	height: 28px;
	background: url(../img/input.png) no-repeat;
	border: none;
	padding: 10px;
	margin: 0;
	float: left;
	color: white;
}

input::-webkit-input-placeholder {
	color: white;
}

input[type="submit"] {
	width: 93px;
	height: 56px;
	display: block;
	background: url(../img/submit.png) no-repeat;
	border: none;
	float: left;
	margin: -3px 0 0 0;
	text-indent: -9999px;
}

input:focus {
	outline: none; /* remove the yellow webkit border on focus */
}

#social {
	width: 132px;
	margin: -34px auto 0 auto;
	overflow: hidden;
}

.social-icon {
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	float: left;
	margin-right: 18px;
	margin-top: -2px;
}

#facebook {
	background: url(../img/facebook500.png) no-repeat;
}

#twitter {
	background: url(../img/twitter500.png) no-repeat;
}

#vimeo {
	background: url(../img/vimeo.png) no-repeat;
	margin-right: 0;
}

#copyrights {
	clear: both;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 12px;
	font-size: 8pt;
}



